/* You can add global styles to this file, and also import other style files */
body {
    background: #5C258D;  
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  
    background: linear-gradient(to right, #4389A2, #5C258D); 
}