<div class="jumbotron cont">
    <img src="assets/img/logo.png" width="200" alt="logo not found" class="image">
    <h2 class="pt-4 text-white-50"> ALIE STORAGE </h2>
    
    <div class="container ">
        <h3 class="text-white-50">Need more space? Cloud storage is the solution, is the future</h3> 
        <div class="container text-center pt-5">
          <iframe width="460" height="320" src="https://www.youtube.com/embed/3WANMc8EqPM"></iframe>
        </div>
      </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 pt-4">
        <h2>Mission</h2>
        <p> Give you a place to storage your folders, files and more information where you can access anywhere you are. </p>
      </div>
      <div class="col-md-4 pt-4">
        <h2>Vision</h2>
        <p> Continue supporting people around the world with their information, innovating our services daily.</p>
      </div>
      <div class="col-md-4 pt-4">
        <h2>About me</h2>
        <p> Alie Storage makes it posibble to store practically limitless amount of data in a simple way. It is commonly used for data archiving and backup.</p>
      </div>
    </div>

    <hr>

</div> <!-- /container -->
