<div class="jumbotron cont">
    <img src="assets/img/logo.png" width="200" alt="logo not found" class="image">
    <h2 class="pt-4 text-white-50"> {{data.NOMBRE}} </h2>
    
    <div class="container ">
        <h3 class="text-white-50">{{data.ESLOGAN}}</h3> 
        <div class="container text-center pt-5">
          <iframe width="460" height="320" src="https://www.youtube.com/embed/3WANMc8EqPM"></iframe>
        </div>
      </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 pt-4">
        <h2>Mission</h2>
        <p>{{data.MISION}}</p>
      </div>
      <div class="col-md-4 pt-4">
        <h2>Vision</h2>
        <p>{{data.VISION}}</p>
      </div>
      <div class="col-md-4 pt-4">
        <h2>About me</h2>
        <p>{{data.ABOUT}}</p>
      </div>
    </div>

    <hr>

</div> <!-- /container -->
