<div class="container py-5">
     <div class="row">
        <div class="col-md-12">
            <br>
            <h2 class="text-center mb-5">Register</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">Sign Up</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off">
                                <label for="inputName">Name</label>
                                <div class="form-row mb-4">
                                    <div class="col">
                                    <!-- First name -->
                                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="col">
                                    <!-- Second name -->
                                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Gender</label>
                                    <br>
                                    <input type="radio" name="gender" id="male" class="mr-2"> 
                                    <label for="m" class="mr-2">Male</label>
                                    <input type="radio" name="gender" id="female" class="mr-2"> 
                                    <label for="f" class="mr-2">Female</label>
                                    <input type="radio" name="gender" id="other" class="mr-2"> 
                                    <label for="f" class="mr-2">Other</label>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Username</label>
                                    <input type="text" class="form-control" id="inputName" placeholder="Nickname">
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Email</label>
                                    <input type="email" required class="form-control" placeholder="Email address"/>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Cell-Phone</label>
                                    <input type="text" class="form-control" id="inputName" placeholder="Phone number">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3">Home address</label>
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="email@gmail.com" required="">
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-dark btn-lg float-">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>