<div class="container pt-5">
    <div class="row flex-md-nowrap pt-5">
      <div class="col">
        <div class="row">
          <div class="col-10 offset-1 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                          <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left">
                        <div class="pt-5">
                            <button class="btn btn-dark" type="button">
                                <i class="fa fa-fw fa-camera"></i>
                                <span> Change Photo</span>
                            </button>
                        </div>
                      </div>
                        <div class="text-center text-sm-right">
                          <span class="badge badge-secondary">administrator</span>
                        </div>
                    </div>
                  </div>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Name</label>
                                  <input class="form-control" type="text" name="name" value={{data.NOMBRE}} [(ngModel)]="data.NOMBRE" >
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Eslogan</label>
                                    <input class="form-control" type="text" value={{data.ESLOGAN}} [(ngModel)]="data.ESLOGAN">
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>Mission</label>
                                  <textarea class="form-control" rows="3" value={{data.MISION}} [(ngModel)]="data.MISION"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Vision</label>
                                    <textarea class="form-control" rows="3" value={{data.VISION}} [(ngModel)]="data.VISION"></textarea>
                                  </div>
                                  <div class="form-group">
                                    <label>About</label>
                                    <textarea class="form-control" rows="3" value={{data.ABOUT}} [(ngModel)]="data.ABOUT"></textarea>
                                  </div>
                              </div>
                            </div>
                         </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-dark" (click)="saveChanges()" >Save Changes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>